body{
    width: 100%;
    height: 100%;
    background-color: rgb(204, 204, 128);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Polonia{

}
#polonia1{
    height: 100px;
    width: 400px;
    background-color: white;

}
#polonia2{
    height: 100px;
    width: 400px;
    background-color: red;
}
.Italia{
    display: flex;

}
#italia1{
    background-color: green;
    height: 200px;
    width: 133px;
}
#italia2{
    background-color: white;
    height: 200px;
    width: 133px;
}
#italia3{
    background-color: red;
    height: 200px;
    width: 133px;
}
.Japao{
    display: flex;
    ;
    

}
#japao1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
    width: 400px;
}
#japao2{
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.Suecia{

}
#suecia1{
    display: flex;
    background-color: blue;
    height: 200px;
    width: 400px;
}
#suecia2{
    align-self: center;
    background-color: yellow;
    width: 100px;
    height: 50px;
}
#suecia3{
    
    background-color: yellow;
    height: 200px;
    width: 50px;
}
#suecia4{
    align-self: center;
    background-color: yellow;
    width: 250px;
    height: 50px;
}
.TrinidTobago{

}
#trinid_tobago1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 400px;
    height: 200px;
    overflow: hidden;

}
#trinid_tobago2{
    align-self: center;
    background-color: black;
    border: 10px solid white;
    width: 50px;
    height: 450px;
    transform: rotate(125deg); 
}
.GuineBissau{

}
#guine_bissau1{
    height: 200px;
    width: 400px;
    background-color: yellow;
}
#guine_bissau2{
    height: 100px;
    width: 400px;
    background-color: green;
}
#guine_bissau3{
    align-content: center;
    justify-items: center;
    height: 200px;
    width: 100px;
    background-color: red;
}
#guine_bissau4{
    
    width: 70px;
    height: 70px;
    background-color: black;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%,
        79% 91%, 50% 70%, 21% 91%, 32% 57%,
        2% 35%, 39% 35%
    );
}

