body {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
header{
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 138, 111);  
}
ul{
    list-style: none;
}
.top-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
button{
    cursor: pointer;
}
.top-articles{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.top-articles h2{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.main-articles{
    margin: 2%;
    height: 10%;
    width: 40%;
    background-color: rgb(12, 168, 168);
    border: 4px solid black;
}
.trending-games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.trending-games h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.game-box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.game-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}